{% extends 'main.html' %}

{% block content %}
This is the one and only home page...

<div class="comment-form">
    <form action="" method="POST">
        {%csrf_token%}
        <input type="text" name="bookname" placeholder="Write your book here...">
        <input type="text" name="bookprice" placeholder="Write your book price here...">
        <input type="text" name="bookauthor" placeholder="Write your book author here...">
        <input type="submit" value="Submit">
    </form>
</div>
{% endblock content %}